 

.delivery__modal {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	height: 600px;
	width: 450px;
	z-index: 100;

	border-radius: 13px;
	background-color: white;
}

.delivery__hidden {
	display: none;
}

.delivery__copy {
	text-align: center;
}

.delivery__heading {}

.delivery__explanation {}

.delivery__order-button {
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 60px;

	border-radius: 13px;
	background-color: lightgreen;
}

.delivery__order-button:hover {
	background-color: green;
}

.delivery__order-button__copy {
	display: block;
	margin-top: 20px;

	color: white;
}






