



.nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	z-index: 2;
}

.nav__top-bar {
	display: flex;
	justify-content: center;
	width: 100vw;

	background-color: white;
}

.nav__top-bar__header {
	/*flex-grow: 1;*/
	height: 3.75rem;
	padding: 1rem 0 .0125rem 0;

}

.nav__title {
	cursor: default;
	font-family: 'IBM Plex Sans', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .75rem;
	font-size: 1.75rem;
}

.nav__title__left {
	max-width: 90%;
	text-align: right;
}

.nav__title__right {
	max-width: 90%;
	text-align: left;
}

.nav__title__space {
	cursor: default;
	display: inline;
	margin: 0 100px;
	height: 5px;
	width: 5px;
}

.nav__title__icon-box {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.nav__title__img-banner {
	margin-top: -3.25rem;
	width: 8.25rem;
}

.nav__lower-bar {
	position: absolute;
	top: 4.5rem;
	width: 100%;
	/*background-color: lightslategrey;*/
	z-index: 1;
}

.nav__link-list {
	list-style: none;
	margin-right: 15%;
}

.nav__link {
	float: right;
	margin: 0 12px;

	font-family: 'IBM Plex Sans', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .35rem;
	font-size: .75rem;
	color: white;

	cursor: default;
	transition: text-shadow .3s;
}

.nav__link:hover {
	cursor: pointer;
	transition: text-shadow .3s;
	text-shadow: 4px 4px #1f1270;
}

.nav__delivery-box {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 9px;
	border-top-left-radius: 19px;
	background-color: rgba(255,255,255,.3);
	transition: background-color .3s;

}

.nav__delivery-box:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,1);
}	

.nav__delivery-lion {
	width: 100px;
}

.nav__instabox {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 9px;
	border-top-right-radius: 19px;
	background-color: rgba(255,255,255,.3);
	transition: background-color .3s;
}

.nav__instabox:hover {
	background-color: rgba(255,255,255,1);
}	

.nav__instalink {
	width: 35px;
}





